body{
    background: mediumslateblue;
    font: normal 15px Arial;
}
header{
    text-align: center;

}
section{
    background: cornsilk;
    width: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: midnightblue;

}
footer{
    text-align: center;

}