body{
    background: lightskyblue;
    font: normal 15pt Arial;
    

}
header{
    text-align: center;
}
section{

    background: mintcream;
    width: 500px;
    margin:auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(10, 1, 1, 0.897);
    
    

}
footer{
    text-align: center;
}
input#a{
    text-align: center;
}